.filters.location {
    height: 100%;
    width: 25%;
    border-right: #DDDDDD solid 1px;
    display: inline-block;
    position: relative;
}
.filters.amenities {
    height: 100%; 
    width: 25%;
    display: inline-block;
    position: relative;
}
.filters.title {
    margin-bottom: 0;
    margin-left: 15%;
    text-align: left;
    font-weight: 600;
}

.filters.subtitle {
    margin-top: 0;
    margin-left: 15%;
    text-align: left;
    font-size: 14px;
    font-weight: 400;

}
